<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil est
      praesentium nobis voluptatum unde! Sint ipsum, nemo fuga nesciunt
      reiciendis, voluptatibus accusamus, quas et numquam dolore quis? Odit,
      sequi quam.
    </p>
  </div>
</div>
